version: "3.9"

services:
  quiz-user-service:
    container_name: quiz-user-service
    build: .
    restart: unless-stopped 
    expose:
      - "3000" 
    networks:
      - dokploy-network
    env_file:
      - .env.example

networks:
  dokploy-network:
    external: true
